<!DOCTYPE html>
<html>
<head>
    <style>
        /* Estilos CSS personalizados para o cabeçalho do PDF */
        h1 {
            color: #333;
        }
        p {
            font-size: 14px;
            color: #777;
        }
        /* ... outros estilos CSS ... */
    </style>
</head>
<body>
    <h1>Relatório de LOG por data</h1>
    <p>Data de hoje: {{ date_today }}</p>
    <p>Data de início do filtro: {{ date_start }}</p>
    <p>Data de fim do filtro: {{ date_end }}</p>
</body>
</html>
