{% extends 'base.html'%}
{% block 'titulo'%} Relatório de LOG {% endblock %}
{% block 'menu' %} 
<a class="navbar-brand" href="{% url 'home' %}">Notas</a>
<a class="navbar-brand" href="{% url 'listar_equipamentos' %}">Equipamentos</a>
<a class="navbar-brand" href="{% url 'listarTipo' %}">Tipo Equipamento</a>
<a class="navbar-brand" href="{% url 'listarLocais' %}">Locais Instalação</a>
<a class="navbar-brand" href="{% url 'listarFornecedores' %}">Fornecedores</a>
<a class="navbar-brand" href="{% url 'listarLog' %}">Relatórios</a>
{% endblock %}
{% block 'conteudo'%} 
<div class ='container'>
    <div class='row'>
        <div class='col-md-3'>
        </div>
        <div class="col-md">
            <h1>  Listas Locais de Fornecedores</h1>
        </div>
        <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Data</th>
            <th scope="col">Transação</th>
            <th scope="col">Movimento</th>
            <th scope="col">Equipamento</th>
            <th scope="col">Nota</th>
            <th scope="col">Usuario</th>
            <th scope="col">Alteração</th>
          </tr>
        </thead>
        <tbody>
            {% for log in lista_log %}
            <tr>
             <td>{{ log.id }}</td>
            <th scope="row">{{ log.data_cadastro }}</th>
            <td>{{ log.transacao }}</td>
            <td>{{ log.movimento }}</td>
            <td>{{ log.equipamento }}</td>
            <td>{{ log.nota_equipamento }}</td>
            <td>{{ log.usuario }}</td>
            <td>{{ log.alteracao }}</td>


          </tr>
          {% endfor %}
        </tbody>
      </table>
        </div>
    </div>


</div>

{% endblock %}
