
{% extends 'base.html'%}
{% block 'titulo'%} Gestão Ativos MA  {% endblock %}
{% block 'menu' %} 
{% include 'menurelatorio.html' %} 
{% endblock %}
{% block 'conteudo'%} 
<div class ='container'>
    <br><br><br>
    {% if status == '50'%}
    <div class="alert alert-danger" role="alert">
        Você não tem permissão para acessar essa funcionalidade do sistema.
      </div>
    {% endif %}
    {% if status == '99'%}
    <div class="alert alert-danger" role="alert">
        Erro Geral no sistema
      </div>
    {% endif %}
    
    <div class='row'>
        <div class='col-md-3'></div>

        <form method ="POST" action="{% url 'relatorioNotasEquipamento' %}"> {% csrf_token %}
            <div class="form-group">
                <label for="selectCampo">Selecione o Equipamento:</label>
                <select name='equipamento' class="form-control" id="selectCampo">
                    
                    {% for equipamento in form %}
                    
                    {% if equipamento.id == selected %}
                    <option value="{{equipamento.id}}" selected>{{equipamento.nome_equipamento}} - {{equipamento.codigo}}</option>
                    {% else %}
                    <option value="{{equipamento.id}}">{{equipamento.nome_equipamento}} - {{equipamento.codigo}}</option>
                    {% endif %}
                    {% endfor %}

                </select>

            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">OK</button>
                <button type="button" class="btn btn-secondary">Cancelar</button>
                {% if selected > 0 %}
                <a href="{% url 'baixarRelatorioNotaEquipamento' %}?equipamentoid={{selected}}"class="btn btn-success btn-mg"> Baixar Relatório <i class="bi bi-filetype-csv"></i></a>
        {% endif %}
            </div>
        </form>
        
        <div class="table-responsive" style="max-height: 85vh;">
            <table class="table table-hover table-sm">
              <thead class="thead-light sticky-top">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Data Ocorrencia</th>
              <th scope="col">Data Cadastro</th>
              <th scope="col">Titulo</th>
              <th scope="col">Descrição</th>
              <th scope="col">Equipamento</th>
              <th scope="col">Usuario</th>
              <th scope="col">Editar</th>
              <th scope="col">Excluir</th>
            </tr>
          </thead>
          <tbody style="overflow-y: scroll;">
              {% for nota in lista_notas %}
              <tr>
               <td>{{ nota.id }}</td>
              <th scope="row">{{ nota.data_ocorrencia }}</th>
              <td>{{ nota.data_cadastro }}</td>
              <td>{{ nota.titulo }}</td>
              <td>{{ nota.descricao }}</td>
              <td>{{ nota.equipamento }}</td>
              <td>{{ nota.usuario }}</td>
              <td><a href="{% url 'editarNotas' %}?id={{ nota.id }}"><i class="bi bi-file-text"></i></a></td>
            <td><a href="{% url 'excluirNotas' %}?id={{ nota.id }}&excluir=1"><i class="bi bi-trash"></i></a></td>
  
            </tr>
            {% endfor %}
          </tbody>
        </table>
            
                
        </div>
        <div class='col-md-3'>
        
        </div>
        </div>
    
        

    
    </div>
   
        
</div>

{% endblock %}
