{% extends 'base.html'%}
{% block 'titulo'%} Gestão Ativos MA  {% endblock %}
{% block 'menu' %} 
{% include 'menutipo.html' %} 
{% endblock %}
{% block 'conteudo'%} 
<div class="text-center">
    <br><br>
    <h1>  Excluir Tipo de Equipamento </h1>
    </div>
<div class ='container'>
    <div class='row'>
        <div class='col-md-3'></div>
        <div class="col-md">
            <hr>
            {% if status == 1 %}
                <div class="alert alert-success" role="alert">Fomulario cadatrados com sucesso</div>    
            {% endif %}
            <form method ="POST" action="{% url 'excluirTipo' %}"> {% csrf_token %}
                {% if n >= 1 %}
                <h2> Equipamentos que estão com esse tipo selecionado:</h2>
                <table class="table table-hover" >
                    <thead class="thead-light" > 
                        <tr>
                            <th scope="col">Equipamentos</th>
                            <th scope="col">Código</th>
                            <th scope="col">Modelo</th>
                            <th scope="col">Local Instalação</th>
                        </tr>
                    </thead>
                    <tbody style="overflow: auto;" >
                        {% for equipamento in equipamentos %}
                        <tr>
            
                        <th scope="row">{{equipamento.nome_equipamento}}</th>
                        <td>{{equipamento.codigo}}</td>
                        <td>{{equipamento.modelo}}</td>
                        <td>{{equipamento.local}}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
                <h3> se confirmar a exclusão o tipo de equipamento serão alterado para outros </h3>
                {% endif %}


                <input TYPE="hidden" NAME="id" VALUE="{{tipo.id}}">
                <input name="nome_tipo" class="form-control" type="text" value={{tipo.nome_tipo}} readonly>
                <br> 
                <label> Sigla</label>
                <input name="sigla" class="form-control" type="text" value={{tipo.sigla}} readonly> 
                <br>    
                <label> Descrição</label>
                <input name="descricao" class="form-control" type="text" value='{{tipo.descricao}}' readonly >
                <br>
        <button class="btn btn-danger">excluir</button>
        <a href="{% url 'listarTipo' %}"class="btn btn-warning btn-mg"> cancelar </a>
            </form>
            </hr>
</div>
<div class='col-md-3'></div>
</div>   
</div>
{% endblock %}