
{% extends 'base.html'%}
{% block 'titulo'%} Inicio {% endblock %}
{% block 'menu' %} 
<a class="navbar-brand" href="{% url 'sair' %}">Notas</a>
<a class="navbar-brand" href="{% url 'listar_equipamentos' %}">Equipamentos</a>
<a class="navbar-brand" href="{% url 'sair' %}">Locais Instalação</a>
<a class="navbar-brand" href="{% url 'listarFornecedores' %}">Fornecedores</a>
<a class="navbar-brand" href="{% url 'sair' %}">Relatórios</a>
{% endblock %}
{% block 'conteudo'%} 
<div class ='container'>
    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Item </th>
            <th scope="col">Valor </th>
            </tr>
        </thead>
        <tbody>
            <tr> 
            <th scope="row">Codigo Equipamento</th>
            <td> {{equipamento.codigo}}</td></tr>      
            <th scope="row">Nome Equipamento</th>
            <td> {{equipamento.nome_equipamento}}</td></tr>
            <th scope="row">Modelo</th>
            <td>{{equipamento.modelo}}</td></tr>
            <th scope="row">Fabricante</th>
            <td>{{equipamento.fabricante}}</td></tr>
            <th scope="row">Tipo</th>
            <td>{{equipamento.tipo_equipamento}}</td></tr>
            <th scope="row">Local Instalação</th>
            <td>{{equipamento.local}}</td></tr>
            <th scope="row">Data Cadastro</th>
            <td>{{equipamento.data_cadastro}}</td></tr>
            <th scope="row">Data Compra</th>
            <td>{{equipamento.data_compra}}</td></tr>
            <th scope="row">Numero Patrimonio</th>
            <td>{{equipamento.patrimonio}}</td> </tr>
            <th scope="row">Material Consumo</th>
            <td>
            {% for material in materiais %}   
                {{material}} <br>
            {% endfor %}
            </td> </tr>
            <th scope="row">Arquivos</th>
            <td>
            {% for arquivo in media %}   
                {% if arquivo.documentos %}
                  <a href='{{ arquivo.documentos }}'>{{arquivo}}</a>' <br>
                {% endif %}
                {% if arquivo.media %}
                  <a href="{% url 'download' %}?filename={{ arquivo.media }}">{{arquivo}}</a> <br>
                {% endif %}
            {% endfor %}

            </td> 
          </tr>
        </tbody>
      </table>
    
        
</div>

{% endblock %}
