
{% extends 'base.html'%}
{% block 'titulo'%} Gestão Ativos MA  {% endblock %}
{% block 'menu' %} 
{% include 'menuequipamento.html' %} 
{% endblock %}
{% block 'conteudo'%} 
<div class="text-center">
  <br><br>
  <h1>  Exibir Detalhe de Equipamento </h1>
  </div>
<div class ='container'>
  <br>
  <br>  
  <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Item </th>
            <th scope="col">Valor </th>
            </tr>
        </thead>
        <tbody>
            <tr> 
            <th scope="row">Codigo Equipamento</th>
            <td> {{equipamento.codigo}}</td></tr>      
            <th scope="row">Nome Equipamento</th>
            <td> {{equipamento.nome_equipamento}}</td></tr>
            <th scope="row">Modelo</th>
            <td>{{equipamento.modelo}}</td></tr>
            <th scope="row">Fabricante</th>
            <td>{{equipamento.fabricante}}</td></tr>
            <th scope="row">Tipo</th>
            <td>{{equipamento.tipo_equipamento}}</td></tr>
            <th scope="row">Local Instalação</th>
            <td>{{equipamento.local}}</td></tr>
            <th scope="row">Data Cadastro</th>
            <td>{{equipamento.data_cadastro}}</td></tr>
            <th scope="row">Data Compra</th>
            <td>{{equipamento.data_compra}}</td></tr>
            <th scope="row">Numero Patrimonio</th>
            <td>{{equipamento.patrimonio}} exluir-{{ confirmarexluir }}</td> </tr>
            <th scope="row">Material Consumo</th>
            <td>
            {% for material in materiais %}   
                {{material}} <br>
            {% endfor %}
            </td> </tr>
            <th scope="row">Arquivos</th>
            <td>
              <table class="table table-hover">
              <thead>
                <th> Nome Arquivo</th>
                <th> Excluir Arquivo</th>
              </thead>
            {% for arquivo in media %}   
                {% if arquivo.documentos %}
                <tr><th scope="row"> <form method ="POST" action="{% url 'download_arquivo' %}"> {% csrf_token %}
                <input type="hidden" id="filename" name="filename" value="{{arquivo.documentos}}">
                <button class="btn btn-link" type="submit">{{arquivo.nome}}</button>
                <!-- <a href="{% url 'download_arquivo' %}?filename='{{ arquivo.documentos }}'">{{arquivo.nome}}</a>-->
                </form></th>
                <td> <a href="{% url 'excluiArquivo' %}?id={{ arquivo.id }}"><i class="bi bi-trash"></i></a></td></tr>
                              
                {% endif %}
            {% endfor %}
              </table>
            </td> 
          </tr>
          {% if confirmarexluir == '1' %}
          <th scope="row"> Excluir</th>
          <td>
            <a href="{% url 'excluirEquipamento' %}?id={{ equipamento.id }}&excluir=2"class="btn btn-danger btn-mg"> Excluir registro <i class="bi bi-trash"></i> </a>
          </td>
        </tr>
          {% endif %}
        </tbody>
      </table>

      
        
</div>

{% endblock %}
