
{% extends 'base.html'%}
{% block 'titulo'%} Inicio {% endblock %}
{% block 'menu' %} 
{% include 'menuequipamento.html' %} 
{% endblock %}
{% block 'conteudo'%} 
<div class ='container'>
  <div class='row'>
      <div class='col-md-3'>
      </div>
      <div class="col-md">
          <h1>  Lista Equipamento</h1>
      </div>
    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Equipamentos</th>
            <th scope="col">Modelo</th>
            <th scope="col">Tipo</th>
            <th scope="col">Local Instalação</th>
            <th scope="col">Ver detalhes</th>
            <th scope="col">Editar</th>
          </tr>
        </thead>
        <tbody>
            {% for equipamento in equipamentos %}
            <tr>
            
            <th scope="row">{{equipamento.nome_equipamento}}</th>
            <td>{{equipamento.modelo}}</td>
            <td>{{equipamento.tipo_equipamento}}</td>
            <td>{{equipamento.local}}</td>
            <td><a href="{% url 'exibirDetalheEquipamento' %}?id={{ equipamento.id }}">Link</a></td>
            <td><a href="{% url 'editarEquipamento' %}?equipamento={{ equipamento.id }}">Link</a></td>
            
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class='col-md-3'></div> 
</div>

{% endblock %}
