{% extends 'base.html'%}
{% block 'titulo'%} Gestão Ativos MA  {% endblock %}
{% block 'menu' %} 
{% include 'menu.html' %} 
{% endblock %}
{% block 'conteudo'%} 
<div class="text-center">
<br><br><br>
<h1>Estatisticas do Sistema de Gestão de ativos</h1>
</div>
<div class='container'>
<h5>Versão {{versao}}</h5>
Foram digitados <b>{{ numero_caracteres }}</b> caracteres em <b>{{ numero_linhas }}</b> linhas de codigo.<br>
Dada da consulta - {{ data }}<br>Tempo desde o Go Live {{tempo}}
<br>
</div>
{% endblock %}
