
{% extends 'base.html'%}
{% block 'titulo'%} Gestão Ativos MA {% endblock %}
{% block 'menu' %} 
{% include 'menuequipamento.html' %} 
{% endblock %}
{% block 'conteudo'%} 
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        $('#nome-equipamento').on('keyup', function() {
            var nome_equipamento = $(this).val();
            $.ajax({
                url: '{% url "get_equipamentos" %}',
                data: {
                    'nome_equipamento': nome_equipamento
                },
                dataType: 'json',
                success: function(response) {
                    var equipamentos = response;
                    console.log(equipamentos)

                    $('#equipamentos_list').empty();
                    equipamentos.forEach(function(equipamento) {

                        console.log(equipamento)
                        var row = $('<tr>');
                        var nome = $('<td>').text(equipamento.nome_equipamento);
                        var modelo = $('<td>').text(equipamento.modelo);
                        var tipo = $('<td>').text(equipamento.tipo_equipamento);
                        var local = $('<td>').text(equipamento.local);
                        var detalhes = $('<td>').html('<a href="{% url "exibirDetalheEquipamento" %}?id=' + equipamento.id + '"><i class="bi bi-file-text"></i></a>');
                        var editar = $('<td>').html('<a href="{% url "editarEquipamento" %}?equipamento=' + equipamento.id + '"><i class="bi bi-pencil"></i></a>');
                        var excluir = $('<td>').html('<a href="{% url "excluirEquipamento" %}?id=' + equipamento.id+ '"><i class="bi bi-trash"></i></a>');
                        row.append(nome, modelo, tipo, local, detalhes, editar, excluir);
                        $('#equipamentos_list').append(row);
                    });
                }
            });
        });
    });
</script>
<div class="text-center">
  <br><br>
  <h1>  Lista de Equipamentos </h1>
  </div>
<div class="form-group">
  <div class="col-md-3 mx-auto">
    <label for="nome-equipamento">Pesquisar Equipamento por Nome </label>
    <input type="text" class="form-control text-left" id="nome-equipamento" placeholder="Pesquisar por nome de equipamento" value="">
  </div>
</div>

<div class ='container'>
  <div class='row'>
      <div class='col-md-0'>
      </div>
      <div class="col-md">
    <div class="table-responsive" style="max-height: 65vh; ">
      <table class="table table-hover" style="table-layout: fixed;">
        <colgroup>
          <col style="width: 30%">
          <col style="width: 15%">
          <col style="width: 15%">
          <col style="width: 25%">
          <col style="width: 8%">
          <col style="width: 8%">
          <col style="width: 8%">
        </colgroup>
      <thead class="thead-light sticky-top" > 
          <tr>
            <th scope="col">Equipamentos</th>
            <th scope="col">Modelo</th>
            <th scope="col">Tipo</th>
            <th scope="col">Local Instalação</th>
            <th scope="col">Ver detalhes</th>
            <th scope="col">Editar</th>
            <th scope="col">Excluir</th>
          </tr>
        </thead>
        <tbody id="equipamentos_list" style="overflow: auto;" >
            {% for equipamento in equipamentos %}
            <tr>
            <th scope="row">{{equipamento.nome_equipamento}}-{{equipamento.codigo}}</th>
            <td>{{equipamento.modelo}}</td>
            <td>{{equipamento.tipo_equipamento}}</td>
            <td>{{equipamento.local}}</td>
            <td><a href="{% url 'exibirDetalheEquipamento' %}?id={{ equipamento.id }}"><i class="bi bi-file-text"></i></a></td>
            <td><a href="{% url 'editarEquipamento' %}?equipamento={{ equipamento.id }}"><i class="bi bi-pencil-square"></i></a></td>
            <td><a href="{% url 'excluirEquipamento' %}?id={{ equipamento.id }}&excluir=1"><i class="bi bi-trash"></i></a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      </div>
    </div>
    <br>
    
    <div class='col-md-0'></div> 
    
</div>
</div>
<a href="{% url 'baixarRelatorioEquipamentos' %}"class="btn btn-success btn-mg"> Baixar Relatório </a>

{% endblock %}
