
{% extends 'base.html'%}
{% block 'titulo'%} Lista de Locais de Instalação {% endblock %}
{% block 'menu' %} 
{% include 'menulocal.html' %} 
{% endblock %}
{% block 'conteudo'%} 
<div class ='container'>
    <div class='row'>
        <div class='col-md-3'>
        </div>
        <div class="col-md">
            <h1>  Listas Locais de Instalação</h1>
        </div>
        {% if status == 1 %}
        <div class="alert alert-sucess" role="alert">
            Ddos Fornecedor Atualizados com sucesso 
        </div>
        {% endif %}
        {% if status == 2 %}
        <div class="alert alert-danger" role="alert">
            Erro ao gravar dados Fornecedor 
        </div>
        {% endif %}
            <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">Predio</th>
                    <th scope="col">Andar</th>
                    <th scope="col">Piso</th>
                    <th scope="col">Armario </th>
                    <th scope="col">Prateleira </th>
                    <th scope="col">Apelido </th>
                    <th scope="col">Editar Detalhes </th> 
                  </tr>
                </thead>
                <tbody>
                    <tr>
            
          </tr>
          {% for local in form %}
          <tr>
          
          <th scope="row">{{local.predio}}</th>
          <td>{{local.piso}}</td>
          <td>{{local.sala}}</td>
          <td>{{local.armario}}</td>
          <td>{{local.prateleira}}</td>
          <td>{{local.apelido_local}}</td>
          <td><a href="{% url 'editarLocal' %}?id={{ local.id }}">Editar</a></td>
               
        </tr>
        {% endfor %}
        </tbody>    
        </table>
     </div>
 </div>
        
 {% endblock %}
            