{% extends 'base.html' %}
{% block 'titulo' %} Gestão Ativos MA {% endblock %}
{% block 'menu' %} {% include 'menuferramentas.html' %} {% endblock %}
{% block 'conteudo' %}

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-10 text-center">
      <br><br>
      {% if erro == '1' %}
          <div class="alert alert-danger" role="alert">
            Você não selecionou nenhum dado para gerar o gráfico.
          </div>
          {% endif %}
          {% if erro == '2' %}
          <div class="alert alert-danger" role="alert">
            O Sistema processa apenas arquivos ".CSV".
          </div>
          {% endif %}
          {% if erro == '3' %}
          <div class="alert alert-danger" role="alert">
            O arquivo não foi decodificado corretamente, verifique o documento e tente novamente.
            <br>Erro:
            {{mensagem}}
          </div>
          {% endif %}
      <h1>Calcula energia de ruptura a partir do arquivo da Máquina de ensaios</h1>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-10">
      <form method="post" enctype="multipart/form-data" action="{% url 'calcula_energia_ruptura' %}" class="custom-form">
        {% csrf_token %}
        <div class="mb-3">
          <label for="arquivo" class="form-label">Anexar arquivo:</label>
          <input type="file" class="form-control-file" id="arquivoAnexo" name="arquivoAnexo">
          
        </div>
        Selecione máquina universal de ensaios:<br>
        <input type="radio" id="Maquina1" name="opcao" value="Maquina1" checked>
        <label for="Maquina1">Shimatshu </label><br>
        <input type="radio" id="Maquina2" name="opcao" value="Maquina2">
        <label for="Maquina2">EMIC</label><br>
        <input type="radio" id="Maquina3" name="opcao" value="Maquina3">
        <label for="Maquina3">MEC_ROCHAS</label><br>
        <div class="mb-3">
          <button type="submit" class="btn btn-primary" id="imtemperismo">Enviar arquivo para calculo</button>
        </div>
        <div class="mb-3">
          <a href="http://gestaoativosma.ad.ipt.br/" class="btn btn-info" role="button">Voltar</a>
        </div>
      </form>
      {% if lista.items %}
      <h3>Resultado:</h3>
      <br>
      <form method="post" action="{% url 'calcula_energia_ruptura' %}">
        {% csrf_token %}
      <table class="table table-striped">
        <thead>
            <tr>
                <th>Selecionar</th>
                <th>ID</th>
                <th>Energia (Joule)</th>
            </tr>
        </thead>
        <tbody>
            {% for item,valor  in lista.items %}
            <tr>
                <td><input type="checkbox" name="selecionados" value="{{ item }}"></td>
                <td>{{ item }}</td>
                <td>{{ valor|floatformat:5 }} </td>
            </tr>
            {% endfor %}

        </tbody>
      </table>
      <button type="submit" name="gerar_grafico" value="1" class="btn btn-success">Gerar Gráfico</button>
      </form>
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}
