html {
  font-size: clamp(6px, 1.08vw, 18px);
}

.link-bloqueado {
    color: #6c757d !important;  /* cinza padrão do Bootstrap */
    pointer-events: none;      /* desabilita clique */
    opacity: 0.6;              /* deixa o link meio apagado */
  }
  .menu-bloqueado {
    display: none !important;
  }
.watermark-teste {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-25deg);
    font-size: 4rem;
    font-weight: bold;
    color: rgba(255, 0, 0, 0.2);
    z-index: 99999;
    pointer-events: none;
    user-select: none;
}