{% extends 'base.html' %}
{% block 'titulo' %}Cadastro de Etiquetas{% endblock %}
{% block 'menu' %}{% include 'menu.html' %}{% endblock %}
{% block 'conteudo' %}
<div class="text-center my-4">
    <br><br>
    <h1>Cadastro de Etiquetas</h1>
</div>

<div class="container">
    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags|default:"info" }} mt-2">{{ message }}</div>

        {% endfor %}
    {% endif %}

    <form method="POST">{% csrf_token %}
        <div class="form-group">
            {{ form.as_p }}
        </div>


        <button type="submit" class="btn btn-primary mt-3">Gerar Etiquetas</button>
        <button type="button" class="btn btn-secondary mt-3"
        onclick="if (document.referrer) { window.history.back(); } else { window.location.href='{% url "home" %}'; }"> Voltar
        </button>
    </form>
    
</div>



<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function() {

    $("#id_projeto").change(function() {
        let projetoId = $(this).val();


        if (!projetoId) {
            $("#id_amostra").html('<option value="">Selecione um projeto primeiro</option>');
            return;
        }

        $.ajax({
            url: "{% url 'get_amostras_por_projeto' %}",
            data: { projeto_id: projetoId },
            success: function(amostras) {

                let options = '<option value="">Selecione a amostra</option>';

                amostras.forEach(function(a){
                    options += `<option value="${a.id}">${a.nome}</option>`;
                });

                $("#id_amostra").html(options);
            }
        });
    });

});
</script>
{% endblock %}