{% extends 'base.html' %}
{% block 'titulo' %} Em Construção {% endblock %}
{% block 'menu' %} {% include 'menu.html' %} {% endblock %}

{% block 'conteudo' %}
<div class="container text-center mt-5">
    <br>
    <h1>🚧 Função em Construção 🚧</h1>
    <p class="lead mt-4">Esta funcionalidade ainda está sendo desenvolvida.</p>
    <p>Em breve estará disponível. Agradecemos sua paciência!</p>
    <hr>
    <a href="javascript:history.back()" class="btn btn-secondary mt-3">⬅️ Voltar</a>
</div>
{% endblock %}
