{% extends 'base.html' %}
{% block 'titulo' %}Etiquetas da Amostra{% endblock %}
{% block 'menu' %}{% include 'menu.html' %}{% endblock %}

{% block 'conteudo' %}
<br><br>
<div class="container mt-4">
  <h2 class="text-center mb-3">
    Etiquetas da Amostra: <strong>{{ amostra.nome }}</strong>
  </h2>
  <h5 class="text-center text-muted mb-4">
    Projeto: {{ amostra.projeto.nome }} — Responsável: {{ amostra.projeto.responsavel }}
  </h5>



  <table class="table table-hover table-striped text-center align-middle">
    <thead class="table-dark">
      <tr>
        <th>Código Humano</th>
        <th>Código Numérico</th>
        <th>Local Instalação</th>
        <th>Massa (kg)</th>
        <th>Data Criação</th>
        <th>Editar</th>
        <th>Imprimir</th>
        <th>Excluir</th>
      </tr>
    </thead>
    <tbody>
      {% for etiqueta in etiquetas %}
      <tr>
        <td>{{ etiqueta.codigo_humano }}</td>
        <td>{{ etiqueta.codigo_numerico }}</td>
        <td>{{ etiqueta.local_instalacao }}</td>
        <td>{{ etiqueta.massa }}</td>
        <td>{{ etiqueta.data_criacao|date:"d/m/Y" }}</td>
        <td>
            <a href="{% url 'edita_etiquetas' etiqueta.id %}" >
                <i class="bi bi-pencil-square"></i>
            </a>
        </td>
        <td>
            <a href="{% url 'solicita_impressao_etiqueta' etiqueta.id %}">
                <i class="bi bi-printer"></i>
          </a>
        </td>
        <td>
          <a href="{% url 'deleta_etiquetas' etiqueta.id %}" >
            <i class="bi bi-trash text-danger"></i>
          </a>
        </td>
      </tr>
      {% empty %}
      <tr><td colspan="10">Nenhuma etiqueta cadastrada para esta amostra.</td></tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
