{% extends 'base.html'%}
{% block 'titulo'%} Gestão Ativos MA {% endblock %}
{% block 'menu'%}
{% include 'menu.html' %}
{% endblock %}
{% block 'conteudo'%}
<div class="text-center">
    <br><br>
    {% if mostrando_inativos %}
        <h1>Lista de Projetos Inativos</h1>
    {% else %}
        <h1>Lista de Projetos Ativos</h1>
    {% endif %}
</div>
<div class="container">
    {% if messages %}
    {% for message in messages %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}
<div class="container">
    <div class="d-flex justify-content-between align-items-center mb-3">
    <a href="{% url 'cadastra_projetos' %}" class="btn btn-success">+ Cadastrar Novo Projeto</a>

    {% if mostrando_inativos %}
        <a href="{% url 'exibe_projetos' %}" class="btn btn-primary">Ver Ativos</a>
    {% else %}
        <a href="{% url 'exibe_projetos_inativos' %}" class="btn btn-secondary">Ver Inativos</a>
    {% endif %}
</div>
    <table class="table table-bordered table-striped text-center">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Cliente</th>
                <th>Cor</th>
                <th>Responsável</th>
                <th>Ativo</th>
                <th>Editar</th>
                 {% if mostrando_inativos %}
                <th> Reabrir </th>
                {% else %}  
                <th>Encerrar</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for projeto in projetos %}
            <tr>
                <td>{{ projeto.nome }}</td>
                <td>{{ projeto.cliente }}</td>
                <td>
                    <span style="background-color: {{ projeto.cor.css_color }}; padding: 0 15px; border: 1px solid #090909ff; horizontal-align: left;"></span>
                     <span style="display:inline-block; min-width: 15ch;"> {{ projeto.cor.nome }} </span>
                </td>
                <td>{{ projeto.responsavel.nome }}</td>
                <td>{{ projeto.ativo|yesno:"Sim,Não" }}</td>
                <td>
                    <a href="{% url 'edita_projetos' projeto.id %}" <i class="bi bi-pencil-square"></i></a>
                </td>
                <td>
                    {% if mostrando_inativos %}
                        <a href="{% url 'ativa_projetos' projeto.id %}"
                        
                        onclick="return confirm('Deseja reabrir este projeto?');">
                        <i class="bi bi-arrow-repeat"></i>
                        </a> 
                    {% else %}
                        <a href="{% url 'desativa_projetos' projeto.id %}"
                        
                        onclick="return confirm('Deseja realmente encerrar este projeto?');">
                        <i class="bi bi-trash text-danger"></i>
                        </a>
                    {% endif %}
                </td>
            </tr>
            {% empty %}
            <tr><td colspan="6">Nenhum projeto cadastrado.</td></tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
