{% extends 'base.html'%}
{% block 'titulo'%} Gestão Ativos MA  {% endblock %}
{% block 'menu' %} 
{% include 'menu.html' %} 
{% endblock %}
{% block 'conteudo'%} 
<div class ='container'>
    <div class='row'>
        <div class='col-md-3'></div>
        <div class="col-md">
          <br>  <br>
          <h1>  Cadastro Ocorrência </h1>
          <hr>
            
            {% if status == 1 %}
                <div class="alert alert-success" role="alert">Fomulario cadatrados com sucesso</div>    
            {% endif %}
            <form method ="POST" action="{% url 'cadastrarNota' %}"> {% csrf_token %}
                {{ form }}
        <button class="btn btn-primary">Enviar</button>
            </form>
            
           <script>
document.addEventListener('DOMContentLoaded', function() {
    console.log('Script carregado');

    $('#id_equipamento').change(function() {
        console.log('Equipamento mudou');

        var equipamento_id = $(this).val();
        console.log('ID equipamento:', equipamento_id);

        $.ajax({
            url: '{% url "get_modos_de_falha" %}',
            data: {
                equipamento_id: equipamento_id
            },
            dataType: 'json',

            success: function(data) {
                console.log('Dados recebidos:', data);

                var modos_falha = $('#id_modo_Falha_equipamento');

                console.log('Campo modo falha encontrado:', modos_falha.length);

                modos_falha.empty();

                modos_falha.append($('<option>', {
                    value: '',
                    text: 'Selecione um modo de falha'
                }));

                $.each(data, function(i, item) {
                    modos_falha.append($('<option>', {
                        value: item.id,
                        text: item.modo_falha
                    }));
                });
            },

            error: function(xhr, status, error) {
                console.log('Erro AJAX');
                console.log('Status:', status);
                console.log('Erro:', error);
                console.log('Resposta:', xhr.responseText);
            }
        });
    });
});
</script>
            </hr>
</div>
<div class='col-md-3'></div>
</div>   
</div>
{% endblock %}