
{% extends 'base.html'%}
{% block 'titulo'%} Gestão Ativos MA {% endblock %}
{% block 'menu' %} 
{% include 'menu.html' %} 
{% endblock %}
{% block 'conteudo'%} 
<div class ='container'>
  <div class='row'>
      <div class='col-md-3'>
       
      </div>
      <div class="col-md">
        <br>
        <br>
        <h2>Modo de Falha do Equipamento <br>{{ equipamento }} </h2>

    <form method ="POST" action="{% url 'editarModoFalhaEquipamento' %}"> {% csrf_token %}
    <input type="hidden" name='id' id="id" value= {{ equipamento.id }}>
    {% for pergunta in perguntas %}
    <h3> {{ pergunta.texto }}</h3>
    <input type="radio" id={{ pergunta.sim }} name={{ pergunta.resposta }} value=1>
    <label for={{ pergunta.sim }} >Sim</label><br>
    <input type="radio" id={{ pergunta.nao }} name={{ pergunta.resposta }} value=0>
    <label for={{ pergunta.nao }} >nao</label><br>
    {% endfor %}
    <button type="submit" class="btn btn-primary">Enviar</button>
  </form>
  </div>
  <div class='col-md-3'></div>
  </div>
  </div>
  {% endblock %}
