
{% extends 'base.html'%}
{% block 'titulo'%} Gestão Ativos MA {% endblock %}
{% block 'menu' %} 
{% include 'menunotamodofalhaequipamento.html' %} 
{% endblock %}
{% block 'conteudo'%} 
<div class ='container'>
  <div class='row'>
      <div class='col-md-3'>
        
      </div>
      <div class="col-md">
        <br>
        <br>
        <h2 class="sticky-top">Lista Modos de Falha Equipamento</h2>
      </div>
    <div class="table-responsive" style="max-height: 75vh;">
    <table class="table table-hover" >
      <thead class="thead-light sticky-top" > 
          <tr>
            <th scope="col">Equipamento</th>
            <th scope="col">Disciplina.Modo Falha</th>
            <th scope="col">Editar</th>
            <th scope="col">Excluir</th>
        </tr>
        </thead>
        <tbody style="overflow: auto;" >
            {% for modofalha in modosFalha %}
            <tr>
            <th scope="row">{{ modofalha.equipamento }}</th>
            <td>{{ modofalha.modo_falha }}</td>
            <td><a href="{% url 'editarModoFalhaEquipamento' %}?id={{ modofalha.id }}"><i class="bi bi-file-text"></i></a></td>
            <td><a href="{% url 'excluirModoFalhaEquipamento' %}?id={{ modofalha.id }}&excluir=1"><i class="bi bi-trash"></i></a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      </div>
    </div>
    <br>
    <div class="pagination">
      <span class="step-links">
          {% if modosFalha.has_previous %}
              <a href="?page=1">&laquo; Primeira</a>
              <a href="?page={{ modosFalha.previous_page_number }}">Anterior</a>
          {% endif %}
  
          <span class="current-page">{{ modosFalha.number }}</span>
  
          {% if modosFalha.has_next %}
              <a href="?page={{ modosFalha.next_page_number }}">Próxima</a>
              <a href="?page={{ modosFalha.paginator.num_pages }}">Última &raquo;</a>
          {% endif %}
      </span>
  </div>
    <div class='col-md-3'></div> 
    
</div>

{% endblock %}
