<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html lang="pt-br">
  <head>

    {% block 'home' %} {% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" >

    <title>{% block 'titulo' %} {% endblock %}</title>
  </head>



  <body>
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href='{% url 'home' %}'>Inicio</a>
        {% block 'menu' %} {% endblock %}
        <a class="navbar-brand" href="{% url 'sair' %}">Sair</a>
      
      </nav>

    {% block 'conteudo' %} {% endblock %}

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script> 

      
      
  </body>
<footer class=" navbar-fixed-bottom no footer">
        By Eric Augustin@IPT - <a href='mailto:ericaugustin@ipt.br'>Contato</a> </footer>
</html>