<a class="navbar-link text-light" href="{% url 'listar_equipamentos' %}">Equipamentos</a>
<a class="navbar-link text-light" href="{% url 'listarTipo' %}">Tipo Equipamento</a>
<a class="navbar-link text-light" href="{% url 'listarLocais' %}">Locais Instalação</a>
<a class="navbar-link text-light" href="{% url 'cadastrarLocal' %}">Cadastrar Local Instalação</a>
<a class="navbar-link text-light" href="{% url 'listarFornecedores' %}">Fornecedores</a>
<a class="navbar-link text-light" href="{% url 'listarMaterial' %}">Materiais</a>
