<a class="navbar-link text-light" href="{% url 'menuRelatorios' %}">Relatórios</a>
<a class="navbar-link text-light" href="{% url 'menuRelatorios' %}">Relatório de Notas por Data</a>
<a class="navbar-link text-light" href="{% url 'relatorioNotasEquipamento' %}">Relatório de Nota por equipamento</a>
<a class="navbar-link text-light" href="{% url 'relatorioLog' %}">Relatório de LOG por Data</a>
<a class="navbar-link text-light" href="{% url 'relatorioLogEquipamento' %}">Relatório de LOG por equipamento</a>
<a class="navbar-link text-light" href="{% url 'relatorioLog' %}?tempo=120">Relatório de LOGs</a>