
{% extends 'base.html'%}
{% block 'titulo'%} Cadastro {% endblock %}
{% block 'conteudo'%} 
<div class ='container'>
    <br><br>
    <div class='row'>
    <div class='col-md-3'></div>
    <div class="col-md">
    <h1>  Exibir Usuário  </h1>
    <hr>
    <form method ="POST" action="{% url 'editarUsuario' %}"> {% csrf_token %}
        {{ form }}
        <input class="btn btn-info btn-blue"type="submit" value="gravar">
        <a href="{% url 'listarUsuarios' %}"class="btn btn-warning btn-mg"> Voltar </a>
    </form>
    </hr>

    </div>
    <div class='col-md-3'></div>
    
</div>

{% endblock %}
<br>By Eric Augustin