
{% extends 'base.html'%}
{% block 'titulo'%} Gestão Ativos MA {% endblock %}
{% block 'menu' %} 
{% include 'menuAdmin.html' %} 
{% endblock %}
{% block 'conteudo'%} 
<div class ='container'>
  <br><br><br>
  {% if status == '1' %}
    <div class="alert alert-success" role="alert">
        Usuário não encontrado
      </div>
  {% endif %}
  {% if status == '2' %}
    <div class="alert alert-success" role="alert">
        Erro no envio do e-mail
      </div>
  {% endif %}
  {% if status == '51' %}
    <div class="alert alert-success" role="alert">
        Nova senha enviada por e-mail com sucesso
      </div>
  {% endif %}
  
  <div class='row'>
      <div class='col-md-3'>
        
        <h2 class="sticky-top">  Lista Usuarios</h2>
      </div>
      <div class="col-md">
      </div>
    <div class="table-responsive" style="max-height: 75vh;">
    <table class="table table-hover" >
      <thead class="thead-light sticky-top" > 
          <tr>
            <th scope="col">Nome</th>
            <th scope="col">Tipo_Usuario</th>
            <th scope="col">E-mail</th>
            <th scope="col">Primeiro Acesso</th>
            <th scope="col">Exibir</th>
            <th scope="col">Editar</th>
            <th scope="col">Gerar Senha</th>
            <th scope="col">Excluir</th>
          </tr>
        </thead>
        <tbody style="overflow: auto;" >
            {% for usuario in usuarios %}
            <tr>
            <th scope="row">{{usuario.nome}}</th>
            <td>{{usuario.tipo}}</td>
            <td>{{usuario.email}}</td>
            <td>{{usuario.primeiro_acesso}}</td>
            <td><a href="{% url 'exibirUsuario' %}?usuario={{ usuario.id }}"><i class="bi bi-file-text"></i></a></td>
            <td><a href="{% url 'editarUsuario' %}?usuario={{ usuario.id }}"><i class="bi bi-pencil-square"></i></a></td>
            <td><a href="{% url 'trocasenha' %}?idUsuario={{ usuario.id }}"><i class="bi bi-envelope"></i></a></td>
            <td><a href="{% url 'excluirUsuario' %}?usuario={{ usuario.id }}"><i class="bi bi-trash"></i></a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      </div>
    </div>
    <br>
    <div class='col-md-3'></div> 
    
</div>

{% endblock %}
