{% extends 'base.html'%}
{% block 'titulo'%} Login {% endblock %}
{% block 'menu' %} 
<a class="navbar-link text-light" href="{% url 'ferramentas' %}">Ferramentas</a>
{% endblock %}
{% block 'conteudo'%} 
<div class ='container'>
  <h1>Login</h1>
    {% if status == '0' %}
    <div class="alert alert-success role="alert">
        Cadastro realizado com sucesso, pode seguir com o login
      </div>
    {% endif %}
    {% if status == '1' %}
    <div class="alert alert-danger" role="alert">
        Senha ou email incorretos!
      </div>
    {% endif %}
    {% if status == '2' %}
    <div class="alert alert-danger" role="alert">
        Usuario não logado, favor fazer o login!
      </div>
    {% endif %}
    {% if status == '51' %}
    <div class="alert alert-success" role="alert">
        Nova senha enviada por e-mail com sucesso
      </div>
    {% endif %}
    <form method ="POST" action="{% url 'validar_login'%}"> {% csrf_token %}  
        <label> Email</label>
        <input name="email" class="form-control" type="text" placeholder="nome@servidor.com">
        <br>
        <label>  senha </label>
        <input name="senha" class="form-control" type="password" placeholder="Senha">
        <br>
        <input class="btn btn-info btn-blue"type="submit" value="enviar">
        <a href="{% url 'esqueci_senha' %}"class="btn btn-warning btn-mg"> Esqueci a senha </a>
        

    </form>

    <!-- Quadro com borda vermelha e informações de contato -->
    <div style="border: 2px solid red; padding: 15px; margin-top: 20px; border-radius: 5px; width: 50%;">
        <p style="font-weight: bold; margin-bottom: 10px;">
            Em caso de dúvidas, críticas ou sugestões, entre em contato com os administradores do sistema:
        </p>
        <ul>
            {% for admin in administradores %}
                <li>{{ admin.nome }} - <a href="mailto:{{ admin.email }}">{{ admin.email }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>
    
</div>
    
{% endblock %}
